<div style="height:100%; display: flex; justify-content: center;  ">
    <mat-card class="mat-elevation-z8" style="margin-top: 4%; width: 60%; height: 60%; display: flex; justify-content: center; align-items: center; height: max-content; padding-top: 5px; ">
        <form #feedform="ngForm" style="width: 80%;" (submit)="registerDermatologist()" novalidate>
            <h2 style="text-align: center;">
                Register dermatologist
            </h2>
            
            <div class="item1">
                <mat-form-field style="width:100%;">
                    <mat-label>Email</mat-label>
                    <input matInput required  minlength="3" maxlength="30" placeholder="Email must have between 3 and 30 characters and contain @" id="usernameInput" #name = "ngModel" name="c1" [(ngModel)] = "email" pattern = ".+@.+" style="height: 40%;"/>
                </mat-form-field>
              </div>
              
              <div class="item2">
                <mat-form-field style="width:100%;">
                    <mat-label>Password</mat-label>
                    <input matInput required placeholder="Password must have between 4 and 30 characters" minlength="4" maxlength="30"  id="passwordInput" #name2 = "ngModel" name="c2" type="password" [(ngModel)] = "password" style="height: 40%;"/>
                </mat-form-field>
            </div>
            <div class="item3">
                <mat-form-field style="width:100%;">
                    <mat-label>Confirme Password</mat-label>
                    <input matInput required placeholder="Password must have between 4 and 30 characters" minlength="4" maxlength="30"  id="confirmePasswordInput" #name3 = "ngModel" name="c3" type="password" [(ngModel)] = "confirmePassword" style="height: 40%;"/>
                </mat-form-field>
            </div>
            <div class="item4">
                <mat-form-field style="width:100%;">
                    <mat-label>Name</mat-label>
                    <input matInput required pattern = "[a-zA-Z ]+" maxlength="30" minlength="2" placeholder="Name must have between 2 and 30 characters and contain only letters and blank spaces" id="nameInput" #name4 = "ngModel" name="c4"  [(ngModel)] = "nameOfUser" style="height: 40%;"/>
                </mat-form-field>
            </div>
            <div class="item5">
                <mat-form-field style="width:100%;">
                    <mat-label>Surname</mat-label>
                    <input matInput required pattern = "[a-zA-Z ]+" maxlength="30" minlength="2" placeholder="Surname must have between 2 and 30 characters and contain only letters and blank spaces" id="surnameInput" #name5 = "ngModel" name="c5"  [(ngModel)] = "surname" style="height: 40%;"/>
                </mat-form-field>
            </div>
        
            <div style="text-align: center; margin-top: 50px;">
                <button id="registerButton" [disabled] ="name.invalid || name2.invalid || name3.invalid || name4.invalid || name5.invalid " mat-raised-button color="primary" type="submit" style="padding: 12px 32px; opacity: 120%;">Register</button>
              </div>
        
        
        </form>
    </mat-card>
</div>
