<h1 style="text-align: center; margin-top: 2%; margin-bottom: 3%;">Order details</h1>
<h2 style="text-align: center;">Medicine data</h2>
<div class="mat-elevation-z8" style="margin-left: 10%; width: 80%;">
    <table mat-table [dataSource]="order.medicines" style=" margin-top: 1%; width: 100%;">
    
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef> CODE </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine.code}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef> TYPE </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine.type}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Manufacturer">
          <th mat-header-cell *matHeaderCellDef> MANUFACTURER </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine.manufacturer}} </td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
            <td mat-cell *matCellDef="let element"> {{ element.quantity }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<h2 style="text-align: center; margin-top: 2%;">Offers</h2>
<div style="margin-left: 10%; width: 80%;">
    <table mat-table class="mat-elevation-z8" [dataSource]="order.allOffers" style=" margin-top: 1%; width: 100%;">
    
        <ng-container matColumnDef="Supplier">
          <th mat-header-cell *matHeaderCellDef> SUPPLIER NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> PRICE </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="Deadline">
          <th mat-header-cell *matHeaderCellDef> SHIPPING DEADLINE </th>
          <td mat-cell *matCellDef="let element"> {{element.shippingDeadline[2]}}.{{element.shippingDeadline[1]}}.{{element.shippingDeadline[0]}} {{element.shippingDeadline[3]}}:{{element.shippingDeadline[4]}} </td>
        </ng-container>

        <ng-container matColumnDef="Choose">
            <th mat-header-cell *matHeaderCellDef> CHOOSE WINNER </th>
            <td mat-cell *matCellDef="let element">
                <button mat-stroked-button color="accent" (click)="chooseWinner(element.id)">Choose</button>               
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>

<h2 style="text-align: center; margin-top: 2%;" *ngIf="order.state == 'PROCESSED'">Winning offer</h2>
<table mat-table class="mat-elevation-z8" [dataSource]="winner" style=" margin-top: 1%; width: 100%;" *ngIf="order.state == 'PROCESSED'">
        <ng-container matColumnDef="Supplier">
          <th mat-header-cell *matHeaderCellDef> SUPPLIER NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> PRICE </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="Deadline">
          <th mat-header-cell *matHeaderCellDef> SHIPPING DEADLINE </th>
          <td mat-cell *matCellDef="let element"> {{element.shippingDeadline}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
      </table>
</div>