<h1 style="text-align: center; margin-top: 2%; margin-bottom: 3%;">Edit order</h1>
<h2 style="text-align: center;">Select medicines</h2>
<h4 style="text-align: center; margin-top: 1%;">Note: If you select a medicine the pharmacy is not currently offering, it will be automatically added to the pharmacy medicine list</h4>

<div class="mat-elevation-z8" style="margin-left: 10%; width: 80%;">
    <table mat-table [dataSource]="dataSource" style=" margin-top: 1%; width: 100%;">

        <ng-container matColumnDef="Select">
          <th mat-header-cell *matHeaderCellDef>SELECT</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"></mat-checkbox>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef> CODE </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef> TYPE </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Manufacturer">
          <th mat-header-cell *matHeaderCellDef> MANUFACTURER </th>
          <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Offers">
            <th mat-header-cell *matHeaderCellDef> PHARMACY OFFERS </th>
            <td mat-cell *matCellDef="let element"> {{element.pharmacyOffers && 'Yes' || 'No'}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
      <mat-paginator #pag1 [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>

<h2 style="text-align: center; margin-top: 2%; margin-bottom: 2%;">Selected medicines</h2>

<div class="mat-elevation-z8" style="margin-left: 10%; width: 80%;">
    <table mat-table [dataSource]="selection.selected" style=" margin-top: 1%; width: 100%;">
    
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef> CODE </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef> TYPE </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Manufacturer">
          <th mat-header-cell *matHeaderCellDef> MANUFACTURER </th>
          <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Offers">
            <th mat-header-cell *matHeaderCellDef> PHARMACY OFFERS </th>
            <td mat-cell *matCellDef="let element"> {{element.pharmacyOffers && 'Yes' || 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> QUANTITY </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field class="example-form-field" style="width: 90%;">
                    <input required matInput [(ngModel)]="element.quantity" type="number" min="1" max="999" pattern="[1-9][0-9]?[0-9]?" placeholder="Enter a number between 1 and 1000">
                </mat-form-field>    
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
</div>

<h2 style="text-align: center; margin-top: 2%; margin-bottom: 2%;">Select deadline</h2>

<div style="margin-left: 35%; width: 30%;">
    <h4 style="text-align: center; width: 100%;">Date: </h4>
    <div style="width: 100%;">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
            <mat-label>Choose a date</mat-label>
            <input matInput readonly [min]="minDate" [matDatepicker]="picker" [formControl]="selectedDate" (dateChange)="checkMinTime()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <h4 style="text-align: center; width: 100%;">Time: </h4>
    <div class="time-range-example" style=" width: 100%; display: inline-block;">
        <mat-form-field class="example-form-field" style="width: 100%; display: inline-block;">
            <input matInput [ngxTimepicker]="timepicker" readonly [min]="minTime" [(ngModel)]="selectedTime" [format]="24">
          </mat-form-field>    
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
    </div>
</div>
<button mat-raised-button color="primary" style="margin-left: 20%; width: 20%; height: 50px; margin-bottom: 50px; margin-top: 3%;" [disabled]="selection.selected.length == 0" (click)="update()">Update</button>
<button mat-raised-button color="accent" style="margin-right: 20%; float: right; width: 20%; height: 50px; margin-bottom: 50px; margin-top: 3%;" (click)="delete()">Delete</button>