.example-full-width {
    width: 100%;
}

.static-label{
    color: rgb(93, 147, 235);
    font-weight: 500;
    font-size: 16px;
}

.normal-label{
    color: gray;
    font-weight: 500;
    font-size: 16px;
}

table {
    width: 100%;
  }
  
.example-button-row {
    display: table-cell;
    width: 490px;
  }
  
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.mat-header-cell {
  background-color: rgb(66, 65, 68);
  font-size: larger;
  color: white;
  width: 30%;
}

.mat-row:hover {
    background-color: rgb(250, 242, 231);
}