<mat-toolbar color="primary"> 
  <span style="width: 20px;"></span>

  <span style="flex: 1 1 auto;" name="dermatologist">
  </span>

  <span style="flex: 1 1 auto;" name="patient">
  </span>

  <span style="flex: 1 1 auto;" name="pharmacist">
  </span>

  <span style="flex: 1 1 auto;" name="pharmacy-admin">
  </span>

  <span style="flex: 1 1 auto;" name="supplier">
  </span>

  <span style="flex: 1 1 auto;" name="system-admin">
  </span>

  <span style="flex: 1 1 auto;" name="unauthenticated-user">
    <button style="float: right;" mat-button routerLink="../login">
      Log In
    </button>
    <button style="float: right;" mat-button routerLink="../register">
      Register
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>