<mat-toolbar color="primary"> 
  <span style="width: 10px;"></span>

  <button mat-icon-button routerLink="../">
    <mat-icon>home</mat-icon>
  </button>
  <span font-color="white" style="margin-left: 10px;">PharmCenter</span>
  <span style="width: 20px;"></span>

  <span style="flex: 1 1 auto;" name="dermatologist"  *ngIf="this.authService.isAuthenticated() && this.authService.getRole() == 'DERMATOLOGIST'">
    <button style="float: right;" mat-button routerLink="../dermatologist/profile">
      Profile
    </button>
    <button style="float: right;" mat-button routerLink="../dermatologist/search">
      Patients
    </button>
    <button style="float: right;" mat-button routerLink="../dermatologist/calendar">
      Calendar
    </button>
  </span>

  <span style="flex: 1 1 auto;" name="patient" *ngIf="this.authService.isAuthenticated() && this.authService.getRole() == 'PATIENT'">
    <button style="float: right;" mat-button routerLink="../patient/profile">
      Profile
    </button>
    <button style="float: right;" mat-button routerLink="../patient/pharmacy-search">
      Pharmacy search
    </button>
    <button style="float: right;" mat-button routerLink="../patient/medicine-reservations">
      Medicine reservations
    </button>
    <button style="float: right;" mat-button routerLink="../patient/subscribed-pharmacies">
      Subscribed pharmacies
    </button>
  </span>

  <span style="flex: 1 1 auto;" name="supplier" *ngIf="this.authService.isAuthenticated() && this.authService.getRole() == 'SUPPLIER'">
    <button style="float: right;" mat-button routerLink="../supplier/profile">
      Profile
    </button>
    <button style="float: right;" mat-button routerLink="../supplier/offer">
      Give offer
    </button>
  </span>

  <span style="flex: 1 1 auto;" name="pharmacist" *ngIf="this.authService.isAuthenticated() && this.authService.getRole() == 'PHARMACIST'">
    <button style="float: right;" mat-button routerLink="../pharmacist/profile">
      Profile
    </button>
    <button style="float: right;" mat-button routerLink="../pharmacist/search">
      Patients
    </button>
    <button style="float: right;" mat-button routerLink="../pharmacist/reservation">
      Reservation
    </button>
    <button style="float: right;" mat-button routerLink="../pharmacist/calendar">
      Calendar
    </button>
  </span>

  <span style="flex: 1 1 auto;" name="pharmacy-admin" *ngIf="this.authService.isAuthenticated() && this.authService.getRole() == 'PHARMACY_ADMIN'">
    <button mat-button routerLink="../pharmacy-admin">
      Pharmacy profile
    </button>
    <button mat-button routerLink="../pharmacy-admin/basic-info">
      Personal information
    </button>
    <button mat-button routerLink="../pharmacy-admin/orders">
      Orders
    </button>
    <button mat-button routerLink="../pharmacy-admin/deals-and-promotions">
      Deals and promotions
    </button>
    <button mat-button>
      Leave requests
    </button>
    <button mat-button>
      Statistics
    </button>
  </span>

  <span style="flex: 1 1 auto;" name="supplier" *ngIf="this.authService.isAuthenticated() && this.authService.getRole() == 'SUPPLIER'">
  </span>

  <span style="flex: 1 1 auto;" name="system-admin" *ngIf="this.authService.isAuthenticated() && this.authService.getRole() == 'SYSTEM_ADMIN'">
  </span>

  <span style="flex: 1 1 auto;" name="unauthenticated-user" *ngIf="!this.authService.loginPageDisplayed && !this.authService.registerPageDisplayed">
    <button style="float: right;" mat-button routerLink="../login" *ngIf="!this.authService.isAuthenticated()">
      Log In
    </button>
    <button style="float: right;" mat-button routerLink="../register" *ngIf="!this.authService.isAuthenticated()">
      Register
    </button>
    <button style="float: left;" mat-button routerLink="../pharmacies" *ngIf="!this.authService.isAuthenticated()">
      Pharmacies
    </button>
    <button style="float: left;" mat-button routerLink="../medicine" *ngIf="!this.authService.isAuthenticated()">
      Medicine
    </button>
    <button style="float: right;" mat-button routerLink="../" *ngIf="this.authService.isAuthenticated()" (click) = "this.authService.logOut()">
      Log Out
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>