.example-full-width {
    width: 100%;
}

.static-label{
    color: rgb(93, 147, 235);
    font-weight: 500;
    font-size: 16px;
}

.normal-label{
    color: gray;
    font-weight: 500;
    font-size: 16px;
}


.mat-header-cell {
    background-color: rgb(66, 65, 68);
    font-size: larger;
    color: white;
    width: 25%;
}
  
.mat-row:hover {
      background-color: rgb(250, 242, 231);
}
  
table {
    width: 100%;
}