<h2 style="text-align: center; margin-top: 30px;">Pharmacist Profile</h2>
<mat-card style="width: 35%; margin: 0 auto;">
    <form style="padding: 30px;">

        <div class="example-full-width" style="padding-bottom: 20px;">
            <label matInput class="static-label" name="imelabela">Name: </label>
            <label matInput class="normal-label" name="imelabela1"(click)="changeName()">{{dto.name}}</label>
            <button type="button" mat-raised-button style="float: right; width: 150px; color: rgb(93, 147, 235);" (click)="changeName()">Change Name</button>
        </div>
        <mat-form-field class="example-full-width"  *ngIf="nameChange">
            <input matInput placeholder="New name" id="newName" name="imetekst" [(ngModel)]="name">
        </mat-form-field>
        <div class="example-full-width" *ngIf="nameChange" style="display: block;">
            <button mat-raised-button style="float: left; width: 150px; color: rgb(93, 147, 235);" (click)="saveName()">Save</button>
            <button mat-raised-button style="float: right; width: 150px; color: gray;" (click)="cancelName()">Cancel</button>
        </div>

        <div class="example-full-width" style="padding-bottom: 20x; padding-top: 40px; display:inline-block">
            <label class="static-label" name="prezimelabela">Surname: </label>
            <label class="normal-label" name="prezimelabela2" (click)="changeSurname()">{{dto.surname}}</label>
            <button mat-raised-button style="float: right; width: 150px; color: rgb(93, 147, 235);" (click)="changeSurname()">Change Surname</button>
        </div>
        <mat-form-field class="example-full-width" *ngIf="surnameChange">
            <input matInput placeholder="New surname" id="newSurname" name="prezimetekst" [(ngModel)]="surname">
        </mat-form-field>
        <div class="example-full-width" *ngIf="surnameChange" style="display: block;">
            <button mat-raised-button style="float: left; width: 150px; color: rgb(93, 147, 235);" (click)="saveSurname()">Save</button>
            <button mat-raised-button style="float: right; width: 150px; color: gray" (click)="cancelSurname()">Cancel</button>
        </div>

        <div class="example-full-width" style="padding-bottom: 20px; padding-top: 40px; display:inline-block">
            <label class="static-label" name="emaillabela">Email: </label>
            <label class="normal-label" name="emaillabela2" (click)="changeEmail()">{{dto.email}}</label>
            <button mat-raised-button style="float: right; width: 150px; color: rgb(93, 147, 235);" (click)="changeEmail()">Change Email</button>
        </div>
        <mat-form-field class="example-full-width" *ngIf="emailChange">
            <input matInput placeholder="New email" id="newEmail" name="emailtekst" [(ngModel)]="email">
        </mat-form-field>
        <div class="example-full-width" *ngIf="emailChange" style="display: block;">
            <button mat-raised-button style="float: left; width: 150px; color: rgb(93, 147, 235);" (click)="saveEmail()">Save</button>
            <button mat-raised-button style="float: right; width: 150px; color: gray" (click)="cancelEmail()">Cancel</button>
        </div>


        <div style="height: 60px;"></div>
        <div class="example-full-width" style="padding-bottom: 10px;">
            <button mat-raised-button (click)="changePassword()" style="width: 200px; height: 70px; font-size: 16px; color: white; background-color: rgb(93, 147, 235);">Change Password</button>
            <button mat-raised-button style="float: right; width: 200px; height: 70px; font-size: 16px; color: white; background-color: rgb(211, 141, 147);">Calendar</button>
        </div>
        <div style="height: 40px;" *ngIf="passwordChange"></div>

        <mat-form-field class="example-full-width" *ngIf="passwordChange">
            <input matInput placeholder="Old password" [type]="hide ? 'password' : 'text'" name="passwordtekst" [(ngModel)]="password" style="font-size: 16px;"/>
        </mat-form-field>
        <mat-form-field class="example-full-width" *ngIf="passwordChange">
            <input matInput placeholder="New password" [type]="hide ? 'password' : 'text'" name="passwordtekst1" [(ngModel)]="newPassword" style="font-size: 16px;"/>
        </mat-form-field>
        <mat-form-field class="example-full-width" *ngIf="passwordChange" style="padding-bottom: 10px;">
            <input matInput placeholder="Repeat new password" [type]="hide ? 'password' : 'text'" name="passwordtekst2" [(ngModel)]="newPasswordRepeat" style="font-size: 16px;"/>
        </mat-form-field>
        <div class="example-full-width" *ngIf="passwordChange" style="display: block;">
            <button mat-raised-button style="float: left; width: 150px; color: rgb(93, 147, 235);" (click)="savePassword()">Save</button>
            <button mat-raised-button style="float: right; width: 150px; color: gray" (click)="cancelPassword()">Cancel</button>
        </div>
        <div style="height: 30px;" *ngIf="passwordChange"></div>
    
    </form>
</mat-card>