:host-context {
    background-color: indigo;
  }

label {
      margin-right: 16px;
  }
  table {
    width: 100%;
  } 
.mat-header-cell {
    background-color: rgb(66, 65, 68);
    font-size: larger;
    color: white;
    width: 25%;
  }

.mat-row:hover {
      background-color: rgb(250, 242, 231);
  }

.form-field{
    display: block
  }