.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px
  }

:host-context {
    background-color: indigo;
  }

label {
      margin-right: 16px;
  }

.form-field{
    display: block;
}

button{
    display: block;
    margin: 0 auto;
}

.buttonCenter{
    margin-top: 5px;
    margin-bottom: 10px;
}