<div style="height:100%; display: flex; justify-content: center;">
    <mat-card class="mat-elevation-z8" style="margin-top: 10%; width: 60%; height: 60%; display: flex; justify-content: center; align-items: center; height: max-content; padding-top: 20px;">
        <div style="width: 80%;">

            <h2 style="text-align: center; margin-bottom: 30px;">
                Choose complaint:
            </h2>
            <div class="buttonCenter">        
                <button mat-raised-button color="primary" style="height: 50px; width: 260px; background-color: rgb(73, 172, 202);" routerLink="../dermatologist-complaint">DERMATOLOGIST COMPLAINT</button>
            </div>
            <div class="buttonCenter">   
                <button mat-raised-button color="accent" style="height: 50px; width: 260px; background-color: rgb(241, 175, 203);" routerLink="../pharmacist-complaint">PHARMACIST COMPLAINT</button> 
            </div>
            <div class="buttonCenter">
                <button mat-raised-button style="height: 50px; width: 260px;" routerLink="../pharmacy-complaint">PHARMACY COMPLAINT</button>
            </div>
        </div>            
    </mat-card>
</div>
