<div style="height: 100%; display: flex; justify-content: center; background-image: url(assets/ml\.png); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <mat-card class="mat-elevation-z8" style="margin-top: 10%; width: 40%; height: 60%; display: flex; justify-content: center; align-items: center; height: max-content; padding-top: 20px; opacity: 85%;">
            <form (submit)="login()" #feedform="ngForm" style="width: 80%;" novalidate>

                <h2 style="text-align: center;">
                    Log in
                </h2>
    
                <div class="item1">
                  <mat-form-field style="width:100%;">
                      <mat-label>Email</mat-label>
                      <input matInput required id="usernameInput" #name = "ngModel" name="c1" [(ngModel)] = "email" pattern = ".+@.+" style="height: 40%;"/>
                  </mat-form-field>
                </div>
                <div class="item3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Password</mat-label>
                        <input matInput required id="passwordInput" #name2 = "ngModel" name="c2" type="password" [(ngModel)] = "password" style="height: 40%;"/>
                    </mat-form-field>
                </div>

                <div style="text-align: center; margin-top: 50px;">
                  <button id="loginButton" [disabled] ="name.invalid || name2.invalid" mat-raised-button color="primary" type="submit" style="padding: 12px 32px; opacity: 120%;">Log in</button>
                </div>
      
            </form>
    </mat-card>

    <mat-card  *ngIf="passwordChange" class="mat-elevation-z8" style="margin-top: 10%; width: 40%; height: 60%; display: flex; justify-content: center; align-items: center; height: max-content;margin-left: 5px; padding-top: 20px; opacity: 85%;">
        <form (submit)="updatePassword()" #feedform="ngForm" style="width: 80%;" novalidate>
            <h2 style="text-align: center;">
                Change your password
            </h2>
            <div class="item1">
              <mat-form-field style="width:100%;">
                  <mat-label>New password</mat-label>
                  <input matInput required id="newPasswordInput" #name = "ngModel" name="c3" type="password" [(ngModel)] = "newPassword"  style="height: 40%;"/>
              </mat-form-field>
            </div>
            <div class="item3">
                <mat-form-field style="width:100%;">
                    <mat-label>Repeate new password</mat-label>
                    <input matInput required id="newPasswordRepeatInput" #name2 = "ngModel" name="c4" type="password" [(ngModel)] = "newPasswordRepeat" style="height: 40%;"/>
                </mat-form-field>
            </div>

            <div style="text-align: center; margin-top: 50px;">
              <button id="updatePasswordButton" [disabled] ="name.invalid || name2.invalid" mat-raised-button color="primary" type="submit" style="padding: 12px 32px; opacity: 120%;">Change</button>
            </div>
  
        </form>
</mat-card>

</div>