.example-full-width {
    width: 100%;
}

.static-label{
    color: rgb(93, 147, 235);
    font-weight: 500;
    font-size: 16px;
}

.normal-label{
    color: gray;
    font-weight: 500;
    font-size: 16px;
}
