<div style="width: 100%; height: max-content;">
    <div style="width: 43%; margin-left: 5%; display: inline-block;">
        <mat-card class="mat-elevation-z8" style="margin-top: 5%; padding-top: 2%;">
            <h2 style="text-align: center;">Pharmacist personal information</h2>

            <div style="display: inline-block; width: 80%; margin-left: 10%; margin-top: 5%;">
                <mat-form-field class="example-form-field" style="width: 100%;">
                    <mat-label>Enter pharmacist's name</mat-label>
                    <input required #n="ngModel" pattern = "[a-zA-Z ]+" maxlength="30" minlength="2" matInput placeholder="Name must have between 2 and 30 characters and contain only letters and blank spaces" [(ngModel)]="name">
                </mat-form-field>    
            </div>
            <div style="display: inline-block; width: 80%; margin-left: 10%; margin-top: 3%;">
                <mat-form-field class="example-form-field" style="width: 100%;">
                    <mat-label>Enter pharmacist's surname</mat-label>
                    <input required #s="ngModel" pattern = "[a-zA-Z ]+" maxlength="30" minlength="2" matInput placeholder="Surname must have between 2 and 30 characters and contain only letters and blank spaces" [(ngModel)]="surname">
                </mat-form-field>    
            </div>
            <div style="display: inline-block; width: 80%; margin-left: 10%; margin-top: 3%;">
                <mat-form-field class="example-form-field" style="width: 100%;">
                    <mat-label>Enter pharmacist's email address</mat-label>
                    <input required #e="ngModel" pattern = ".+@.+" matInput minlength="3" maxlength="30" placeholder="Email must have between 3 and 30 characters and contain @" [(ngModel)]="email">
                </mat-form-field>    
            </div>
            <div style="display: inline-block; width: 80%; margin-left: 10%; margin-top: 3%;">
                <mat-form-field class="example-form-field" style="width: 100%;">
                    <mat-label>Enter pharmacist's password</mat-label>
                    <input required placeholder="Password must have between 4 and 30 characters" minlength="4" maxlength="30" #p="ngModel" matInput type="password" [(ngModel)]="password">
                </mat-form-field>    
            </div>
            <div style="display: inline-block; width: 80%; margin-left: 10%; margin-top: 3%;">
                <mat-form-field class="example-form-field" style="width: 100%;">
                    <mat-label>Confirm pharmacist's password</mat-label>
                    <input required placeholder="Password must have between 4 and 30 characters" minlength="4" maxlength="30" #cp="ngModel" matInput type="password" [(ngModel)]="confirmPassword">
                    <div *ngIf="password != confirmPassword && password != '' && confirmPassword != ''"><mat-label style="color: red; font-size: smaller;">Passwords don't match</mat-label></div>
                </mat-form-field>    
            </div>

        </mat-card>
    </div>
    <div style="width: 43%; margin-right: 5%; display: inline-block; float: right;">
        <mat-card class="mat-elevation-z8" style="margin-top: 5%; padding-top: 2%; padding-left: 5%;">
            <h2 style="text-align: center; margin-bottom: 5%;">Set working hours</h2>

            <div style="margin-left: 3%;">
                <mat-checkbox class="example-margin" [(ngModel)]="mondayEnabled">Work day</mat-checkbox>
                <label style="margin-right: 6%; margin-left: 3%;">MONDAY</label>
                <div class="time-range-example" style="display: inline-block; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="start" [ngxTimepicker]="rangeMon1" readonly [disabled]="!mondayEnabled" [min]="startTime" [max]="endTime" [(ngModel)]="mondayStart">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeMon1></ngx-material-timepicker>
                </div>
                <div class="time-range-example" style="display: inline-block; margin-left: 3%; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="end" [ngxTimepicker]="rangeMon2" readonly [disabled]="!mondayEnabled" [min]="mondayStart" [max]="endTime" [(ngModel)]="mondayEnd">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeMon2></ngx-material-timepicker>
                </div>
            </div>

            <div style="margin-left: 3%;">
                <mat-checkbox class="example-margin" [(ngModel)]="tuesdayEnabled">Work day</mat-checkbox>
                <label style="margin-right: 5%; margin-left: 3%;">TUESDAY</label>
                <div class="time-range-example" style="display: inline-block; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="start" [ngxTimepicker]="rangeTue1" readonly [disabled]="!tuesdayEnabled" [min]="startTime" [max]="endTime" [(ngModel)]="tuesdayStart">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeTue1></ngx-material-timepicker>
                </div>
                <div class="time-range-example" style="display: inline-block; margin-left: 3%; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="end" [ngxTimepicker]="rangeTue2" readonly [disabled]="!tuesdayEnabled" [min]="tuesdayStart" [max]="endTime" [(ngModel)]="tuesdayEnd">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeTue2></ngx-material-timepicker>
                </div>
            </div>

            <div style="margin-left: 3%;">
                <mat-checkbox class="example-margin" [(ngModel)]="wednesdayEnabled">Work day</mat-checkbox>
                <label style="margin-right: 2%; margin-left: 2%;">WEDNESDAY</label>
                <div class="time-range-example" style="display: inline-block; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="start" [ngxTimepicker]="rangeWed1" readonly [disabled]="!wednesdayEnabled" [min]="startTime" [max]="endTime" [(ngModel)]="wednesdayStart">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeWed1></ngx-material-timepicker>
                </div>
                <div class="time-range-example" style="display: inline-block; margin-left: 3%; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="end" [ngxTimepicker]="rangeWed2" readonly [disabled]="!wednesdayEnabled" [min]="wednesdayStart" [max]="endTime" [(ngModel)]="wednesdayEnd">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeWed2></ngx-material-timepicker>
                </div>
            </div>

            <div style="margin-left: 3%;">
                <mat-checkbox class="example-margin" [(ngModel)]="thursdayEnabled">Work day</mat-checkbox>
                <label style="margin-right: 3.5%; margin-left: 3%;">THURSDAY</label>
                <div class="time-range-example" style="display: inline-block; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="start" [ngxTimepicker]="rangeThu1" readonly [disabled]="!thursdayEnabled" [min]="startTime" [max]="endTime" [(ngModel)]="thursdayStart">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeThu1></ngx-material-timepicker>
                </div>
                <div class="time-range-example" style="display: inline-block; margin-left: 3%; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="end" [ngxTimepicker]="rangeThu2" readonly [disabled]="!thursdayEnabled" [min]="thursdayStart" [max]="endTime" [(ngModel)]="thursdayEnd">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeThu2></ngx-material-timepicker>
                </div>
            </div>

            <div style="margin-left: 3%;">
                <mat-checkbox class="example-margin" [(ngModel)]="fridayEnabled">Work day</mat-checkbox>
                <label style="margin-right: 8%; margin-left: 3%;">FRIDAY</label>
                <div class="time-range-example" style="display: inline-block; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="start" [ngxTimepicker]="rangeFri1" readonly [disabled]="!fridayEnabled" [min]="startTime" [max]="endTime" [(ngModel)]="fridayStart">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeFri1></ngx-material-timepicker>
                </div>
                <div class="time-range-example" style="display: inline-block; margin-left: 3%; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="end" [ngxTimepicker]="rangeFri2" readonly [disabled]="!fridayEnabled" [min]="fridayStart" [max]="endTime" [(ngModel)]="fridayEnd">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeFri2></ngx-material-timepicker>
                </div>
            </div>

            <div style="margin-left: 3%;">
                <mat-checkbox class="example-margin" [(ngModel)]="saturdayEnabled">Work day</mat-checkbox>
                <label style="margin-right: 4%; margin-left: 3%;">SATURDAY</label>
                <div class="time-range-example" style="display: inline-block; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="start" [ngxTimepicker]="rangeSat1" readonly [disabled]="!saturdayEnabled" [min]="startTime" [max]="endTime" [(ngModel)]="saturdayStart">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeSat1></ngx-material-timepicker>
                </div>
                <div class="time-range-example" style="display: inline-block; margin-left: 3%; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="end" [ngxTimepicker]="rangeSat2" readonly [disabled]="!saturdayEnabled" [min]="saturdayStart" [max]="endTime" [(ngModel)]="saturdayEnd">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeSat2></ngx-material-timepicker>
                </div>
            </div>

            <div style="margin-left: 3%;">
                <mat-checkbox class="example-margin" [(ngModel)]="sundayEnabled">Work day</mat-checkbox>
                <label style="margin-right: 7%; margin-left: 3%;">SUNDAY</label>
                <div class="time-range-example" style="display: inline-block; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="start" [ngxTimepicker]="rangeSun1" readonly [disabled]="!sundayEnabled" [min]="startTime" [max]="endTime" [(ngModel)]="sundayStart">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeSun1></ngx-material-timepicker>
                </div>
                <div class="time-range-example" style="display: inline-block; margin-left: 3%; width: 30%;">
                    <mat-form-field class="example-form-field" style="width: 90%; display: inline-block;">
                        <input matInput placeholder="end" [ngxTimepicker]="rangeSun2" readonly [disabled]="!sundayEnabled" [min]="sundayStart" [max]="endTime" [(ngModel)]="sundayEnd">
                      </mat-form-field>    
                    <ngx-material-timepicker #rangeSun2></ngx-material-timepicker>
                </div>
            </div>

            <button mat-raised-button color="primary" style="margin-right: 6%; margin-top: 3%; float: right;" (click)="create()" [disabled]="n.invalid || s.invalid || e.invalid || p.invalid || cp.invalid || password != confirmPassword">Create</button>
        </mat-card>
    </div>
</div>