<body>
    <div class="bg" style="background-image: url(assets/meee\.jpg); height: 100%; display: flex; justify-content:right;">
        <mat-card class="mat-elevation-z8" style="margin-top: 10%; margin-left: 5%; margin-right: 13%; width: 320px; height: 300px; display: flex; justify-content: center; align-items: center; padding-top: 20px; opacity: 85%;">
            <div style="width: 80%;">
                <h2 style="text-align: center; margin-bottom: 30px;color: gray;">
                    Welcome to PharmCenter!
                </h2>
                <div class="buttonCenter">   
                    <button mat-raised-button style="height: 50px; width: 260px; background-color: rgb(241, 175, 203);" routerLink="../login">LOGIN</button> 
                </div>
                <p style="color: gray; margin-top: 20px;"> Create new account: </p>
                <div class="buttonCenter">        
                    <button mat-raised-button style="height: 50px; width: 260px; background-color: rgb(73, 172, 202);" routerLink="../register">NEW ACCOUNT</button>
                </div>
            </div>    
        </mat-card>
    </div>
</body>
