<h1 style="text-align: center; margin-top: 2%; margin-bottom: 2%;">Notifications</h1>
<mat-card *ngFor="let notification of notifications" class="mat-elevation-z8" style="margin-top: 40px; margin-left: 20%; width: 60%; min-height: 100px; max-height: 100px;">
    <mat-chip-list><mat-chip color="accent" selected style="margin-top: 20px; margin-left: 20px;">{{notification.timestamp | date : longDate}} {{notification.timestamp | date : "shortTime"}}</mat-chip></mat-chip-list>
    <h4 style="margin-left: 20px; word-wrap: break-word; margin-right: 20px; margin-top: 20px;">Medicine with code {{notification.medicineCode}} and name {{notification.medicineName}} was requested, but it wasn't in stock</h4>
</mat-card>
<div style="margin-top: 2%;"></div>