table {
    width: 50%;
  }
  
.example-button-row {
    display: table-cell;
    width: 490px;
  }
  
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

div {
  height: 30px;
}

.mat-header-cell {
  background-color: rgb(66, 65, 68);
  font-size: larger;
  color: white;
  width: 50%;
}

.mat-row:hover {
    background-color: rgb(250, 242, 231);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 60%;
  display: flex;
  justify-content: center;
}

.example-full-width {
  width: 35%;
}