<div style="height:100%; display: flex; justify-content: center;  ">
    <mat-card class="mat-elevation-z8" style="margin-top: 4%; width: 60%; height: 60%; display: flex; justify-content: center; align-items: center; height: max-content; padding-top: 5px; ">
        <form #feedform="ngForm" style="width: 80%;" (submit)="registerPharmacy()" novalidate>
            <h2 style="text-align: center;">
                Register pharmacy
            </h2>
            
            <div class="item1">
                <mat-form-field style="width:100%;">
                    <mat-label>Name</mat-label>
                    <input matInput required id="nameInput" #name = "ngModel" name="c1"  [(ngModel)] = "nameOfPharmacy" style="height: 40%;"/>
                </mat-form-field>
            </div>
            <div class="item2">
                <mat-form-field style="width:100%;">
                    <mat-label>Description</mat-label>
                    <input matInput required id="descriptionInput" #name1 = "ngModel" name="c2"  [(ngModel)] = "description" style="height: 40%;"/>
                </mat-form-field>
            </div>
            <div class="item3">
                <mat-form-field style="width:100%;">
                    <mat-label>Address</mat-label>
                    <input matInput required id="addressInput" #name2 = "ngModel" name="c3"  [(ngModel)] = "address" style="height: 40%;"/>
                </mat-form-field>
            </div>
        
            <div style="text-align: center; margin-top: 50px;">
                <button id="registerButton" [disabled] ="name.invalid || name1.invalid || name2.invalid " mat-raised-button color="primary" type="submit" style="padding: 12px 32px; opacity: 120%;">Register</button>
              </div>
        
        
        </form>
    </mat-card>
</div>
