<div style="height: 100%; background-image: url(assets/ml\.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div style="width: 50%; float: right; height: max-content; margin-top: 2%;">
        <h1 style="text-align: center; margin-bottom: 8%;">
            Manage pharmacy profile
        </h1>
        <mat-card class="mat-elevation-z8" style="width: 25%; margin-left: 18%; display: inline-block;" routerLink="../pharmacy-admin/pharmacists">
            <mat-card-content style="text-align: center; width: 100%; height: 100%;">
                <img src="assets/pharmacist2.png">
                <p>Pharmacists</p>
            </mat-card-content>                    
        </mat-card>
        <mat-card class="mat-elevation-z8" style="width: 25%; float: right; margin-right: 18%;" routerLink="../pharmacy-admin/dermatologists">
            <mat-card-content style="text-align: center; width: 100%; height: 100%;">
                <img src="assets/pharmacist.png">
                <p>Dermatologists</p>
            </mat-card-content>                    
        </mat-card>

        <div style="margin-bottom: 5%;"></div>

        <mat-card class="mat-elevation-z8" style="width: 25%; margin-left: 18%; display: inline-block;" routerLink="../pharmacy-admin/medicines">
            <mat-card-content style="text-align: center; width: 100%; height: 100%;">
                <img src="assets/eprescription.png">
                <p>Medicines</p>
            </mat-card-content>                    
        </mat-card>
        <mat-card class="mat-elevation-z8" style="width: 25%; float: right; margin-right: 18%;" routerLink="../pharmacy-admin/price-list">
            <mat-card-content style="text-align: center; width: 100%; height: 100%;">
                <img src="assets/pricelist.png">
                <p>Price list</p>
            </mat-card-content>                    
        </mat-card>

        <div style="margin-bottom: 5%;"></div>

        <mat-card class="mat-elevation-z8" style="width: 25%; margin-left: 18%; display: inline-block;" routerLink="../pharmacy-admin/pharmacy-basic-info">
            <mat-card-content style="text-align: center; width: 100%; height: 100%;">
                <img src="assets/edit.png">
                <p>Basic information</p>
            </mat-card-content>                    
        </mat-card>
        <mat-card class="mat-elevation-z8" style="width: 25%; float: right; margin-right: 18%;">
            <mat-card-content style="text-align: center; width: 100%; height: 100%;">
                <img src="assets/calendar.png">
                <p>Create examination</p>
            </mat-card-content>                    
        </mat-card>
    </div>
</div>