<div style="display:block; justify-content:center;">
    <div style="height:100%; display: flex; justify-content:center;">
        <mat-card class="mat-elevation-z8" style="margin: 30px; width: 35%; height: 80%; display: flex; justify-content: center; align-items: center; padding: 20px;">
            <form style="padding: 20px;">
                <h2 style="text-align: center; padding-bottom: 10px;">My Profile</h2>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Name:</mat-label>
                        <input matInput type = "text" [(ngModel)]="profile.name" name = "nameee" required pattern = "[a-zA-Z]{2,30}" [disabled] = "disabled"/>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Surname:</mat-label>
                        <input matInput type = "text" [(ngModel)]="profile.surname" name = "surname" required pattern = "[a-zA-Z]{2,30}" [disabled] = "disabled"/>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Email:</mat-label>
                        <input matInput  type = "text" [(ngModel)]="profile.email" name = "email"  disabled/>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Address:</mat-label>
                        <input matInput type = "text" [(ngModel)]="profile.address" name = "address" required [disabled] = "disabled"/>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >City:</mat-label>
                        <input matInput type = "text" [(ngModel)]="profile.city" name = "city" required [disabled] = "disabled"/>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Country:</mat-label>
                        <input matInput type = "text" [(ngModel)]="profile.country" name = "country" required [disabled] = "disabled"/>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Phone number:</mat-label>
                        <input matInput type = "text" [(ngModel)]="profile.phone" name = "phone" required [disabled] = "disabled"/>
                    </mat-form-field>
                    <div *ngIf= "passwordChange">
                        <mat-form-field style="width: 100%;">
                            <mat-label >Old password:</mat-label>
                            <input matInput type="password" name="passwordtekst" [(ngModel)]="password" />
                        </mat-form-field>
                        <mat-form-field style="width: 100%;">
                            <mat-label >New password:</mat-label>
                            <input matInput type="password"  name="passwordtekst1" [(ngModel)]="newPassword" />
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <mat-label >Repeat new password:</mat-label>
                            <input matInput type="password" name="passwordtekst2" [(ngModel)]="newPasswordRepeat"/>
                        </mat-form-field>
                    </div>
                
                    <div class="example-full-width" *ngIf="passwordChange" style="display: block;">
                        <button mat-raised-button color = "primary" style="float: right;" (click)="savePassword()">Save</button>
                        <button mat-raised-button color = "warn" style="float: left;" (click)="cancelPassword()">Cancel</button>
                    </div>

                    <div *ngIf="hidden">
                        <button mat-raised-button color="primary" (click)="enableFields()" style="float:right;" >Edit profile</button>
                        <button mat-raised-button color="primary" (click)="editPassword()" style="float:left;">Change password</button>    
                    </div>
                    <div *ngIf="hidden1">
                        <button mat-raised-button color="primary" (click)="saveChanges()" style="float:right;">Save changes</button>
                        <button mat-raised-button color="warn" (click)="cancelEdit()" style="float:left;">Cancel</button>
                    </div>
            </form>
        </mat-card>
        <div>
            <mat-card class="mat-elevation-z8" style="margin: 30px; width: 80%; height: auto; display: flex; justify-content: center; align-items: center; padding: 20px;">             
                <div style="padding: 20px; width: 100%;">
                    <h2 style="text-align: center; margin-bottom:10px;">Allergies</h2>
                    <mat-form-field style="width: 100%;">
                        <mat-label matInput >Allergies:</mat-label>
                        <input matInput [disabled] = "disabled"/>
                        <ul matInput *ngIf = "profile.allergies.length > 0" >
                            <li *ngFor ="let a of profile.allergies" style = "color: gray; ">{{a}}</li>
                        </ul>
                        <p *ngIf = "profile.allergies.length == 0" style = "padding-top:15px;">No allergies</p>
                        
                    </mat-form-field>
                    
                    <div *ngIf = "!showMed">
                        <button mat-raised-button color="primary" (click)="chooseAllergies()" style="float:right;">Add allergies</button>
                    </div>
                    <div *ngIf = "showMed">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose allergies</mat-label>
                            <mat-select  [formControl]="med" multiple>
                                <mat-select-trigger>
                                {{med.value ? med.value[0] : ''}}
                                    <span *ngIf="med.value?.length > 1" class="example-additional-selection">
                                        (+{{med.value.length - 1}} {{med.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let m of medicine" [value]="m">{{m}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                        <button mat-raised-button color="primary" (click)="saveAllergies()" style="float:right;">Save</button>
                        <button mat-raised-button color="warn" (click)="cancelAllergies()" style="float:left;">Cancel</button>
                        </div>
                    </div>
      
                </div>
            </mat-card>
            <mat-card class="mat-elevation-z8" style="margin: 30px; width: 80%; height: auto; display: flex; justify-content: center; align-items: center; padding: 20px;">             
                <form style="padding: 20px;">
                    <h2 style="text-align: center; margin-bottom:10px;">Loyalty program</h2>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Points:</mat-label>
                        <input matInput [(ngModel)]="profile.points" name = "points" disabled>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Category:</mat-label>
                        <input matInput [(ngModel)]="profile.category" name = "category" disabled>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label >Pogodnosti:</mat-label>
                        <input matInput [(ngModel)]="profile.points" name = "pog" disabled>
                    </mat-form-field>
                </form>
            </mat-card>
        </div>
    </div>
</div>
        
