
    <div class="content" fxLayout="row wrap">
        <div fxFlex="30%">
                <mat-card class="mat1" routerLink="../patient/pharmacy-search">
                    <mat-card-content style="text-align: center;">
                        <img src="assets/icons8-hospital-64.png">
                        <p id = "text">Pharmacy search</p>
                    </mat-card-content>
                </mat-card>
        </div>
        <div>
            <mat-card class="mat1" routerLink="../patient/medicine-reservations">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-list-64.png">
                    <p id = "text">Medicine reservations</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%">
            <mat-card class="mat1" routerLink="../patient/medicine-search">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-stethoscope-64.png">
                    <p id = "text">Schedule appointment</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="mat1" routerLink="../patient/pharmacist-counseling">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-doctor-female-64.png">
                    <p id = "text">Schedule counseling</p>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    <div class="content" fxLayout="row wrap">
        
        <div>
            <mat-card class="mat1" routerLink="../patient/profile" >
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-user-menu-female-64.png">
                    <p id = "text">Profile</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="mat1" routerLink="../patient/upload-qr">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-hand-with-a-pill-64.png">
                    <p id = "text">E-prescriptions</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="mat1" routerLink="../patient/subscribed-pharmacies">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-discount-64.png">
                    <p id = "text">Pharmacy subscriptions</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%">
            <mat-card class="mat1" routerLink="../patient/rating">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-rating-64.png">
                    <p id = "text">Rate us</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
    <div class="content" fxLayout="row wrap">
        
        <div>
            <mat-card class="mat1" routerLink="../patient/complaints">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-customer-64.png">
                    <p id = "text">Complaints</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%">
            <mat-card class="mat1" routerLink="../patient/past-appointments">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-bulleted-list-64.png">
                    <p id = "text">Appointment history</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%">
            <mat-card class="mat1" routerLink="../patient/incoming-appointments">
                <mat-card-content style="text-align: center;">
                    <img src="assets/icons8-health-calendar-80.png">
                    <p id = "text">Incoming appointments</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

